{% extends 'basefront.html.twig' %}
{% block body %}


<body id="body">


<div class="hero-slider">
    <div class="slider-item th-fullpage hero-area d-flex align-items-center justify-content-center" style="background-image: url({{ asset('front/images/slider/envi.jpg')}});" style="height: 100vh;">
        <div class="container">
            <div class="row">

                <div class="col-md-6">

                    <div class="card-body">

                        <h1 class="text-black-50"> Ajout d'un compte</h1>

                        {{form_start(form,{'attr':{'novalidate':'novalidate', 'class': 'text-black-50','class': 'text-danger'}})}}
                        {{form_label(form.Nom,"Nom", {'label_attr': {'class': 'text-black-50'}})}}
                        {{form_errors(form.Nom, {'attr': {'class': 'text-danger'}})}}
                        {{form_widget(form.Nom, {'attr': {'class': 'form-control'}})}}
                        <br>
                        {{form_label(form.Prenom,"Prenom", {'label_attr': {'class': 'text-black-50'}})}}
                        {{form_errors(form.Prenom, {'attr': {'class': 'text-danger'}})}}
                        {{form_widget(form.Prenom, {'attr': {'class': 'form-control'}})}}
                        <br>
                        {{form_label(form.Adresse,"Adresse", {'label_attr': {'class': 'text-black-50'}})}}
                        {{form_errors(form.Adresse, {'attr': {'class': 'text-danger'}})}}
                        {{form_widget(form.Adresse, {'attr': {'class': 'form-control'}})}}
                        <br>
                        {{form_label(form.Email,"Email", {'label_attr': {'class': 'text-black-50'}})}}

                        {{form_widget(form.Email, {'attr': {'class': 'form-control'}})}}
                        <br>
                        {{form_label(form.NumTel,"Numéro de telephone", {'label_attr': {'class': 'text-black-50'}})}}
                        {{form_errors(form.NumTel, {'attr': {'class': 'text-danger'}})}}
                        {{form_widget(form.NumTel, {'attr': {'class': 'form-control'}})}}
                        <br>
                        {{form_label(form.Profession,"Profession", {'label_attr': {'class': 'text-black-50'}})}}
                        {{form_errors(form.Profession, {'attr': {'class': 'text-danger'}})}}
                        {{form_widget(form.Profession, {'attr': {'class': 'form-control'}})}}
                        <br>
                        {{form_label(form.Password,"Mot de passe", {'label_attr': {'class': 'text-black-50'}})}}
                        {{form_errors(form.Password, {'attr': {'class': 'text-danger'}})}}
                        {{form_widget(form.Password, {'attr': {'class': 'form-control'}})}}
                        <br>
                        {{form_label(form.CIN,"Carte d'identité", {'label_attr': {'class': 'text-black-50'}})}}
                        {{form_errors(form.CIN, {'attr': {'class': 'text-danger'}})}}
                        {{form_widget(form.CIN, {'attr': {'class': 'form-control'}})}}
                        <br>
                        <div  class="text-center">
                            <button type="submit" class="btn btn-success btn-lg">Confirmer</button>
                        </div>

                        {{form_end(form)}}


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
