{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">

                        <div class="form-validation">
                            <div class="card">
                                <div class="card-body">
                                <h1 class="text-white text-center">modifier user</h1>
                            <form class="form-valide" action="#" method="post">
                                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'text-white text-danger'}}) }}
                                <div class="form-group">
                                    {{ form_label(form.Nom, 'Nom') }}
                                    {{ form_errors(form.Nom, {'attr': {'class': 'text-danger'}}) }}
                                    {{ form_widget(form.Nom, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.Prenom, 'Prenom') }}
                                    {{ form_errors(form.Prenom, {'attr': {'class': 'text-danger'}}) }}
                                    {{ form_widget(form.Prenom, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.Adresse, 'Adresse') }}
                                    {{ form_errors(form.Adresse, {'attr': {'class': 'text-danger'}}) }}
                                    {{ form_widget(form.Adresse, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.Email, 'Email') }}
                                    {{ form_errors(form.Email, {'attr': {'class': 'text-danger'}}) }}
                                    {{ form_widget(form.Email, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.NumTel, 'Numero de telephone') }}
                                    {{ form_errors(form.NumTel, {'Numero de telephone': {'class': 'text-danger'}}) }}
                                    {{ form_widget(form.NumTel, {'Numero de telephone': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.Profession, 'Profession') }}
                                    {{ form_errors(form.Profession, {'attr': {'class': 'text-danger'}}) }}
                                    {{ form_widget(form.Profession, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.Password, 'Mot de passe') }}
                                    {{ form_errors(form.Password, {'attr': {'class': 'text-danger'}}) }}
                                    {{ form_widget(form.Password, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.CIN, 'CIN') }}
                                    {{ form_errors(form.CIN, {'attr': {'class': 'text-danger'}}) }}
                                    {{ form_widget(form.CIN, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">modifier</button>
                                </div>
                                {{ form_end(form) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








{% endblock %}